/* BODY */
header, footer {
  max-width: 60rem;
  margin: 0 auto;
}

/* NAVIGATION */
nav {
  ul {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: $gutter;

    li {
      width: auto;

      &:last-child {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
      }

      a {
        padding: .5rem 1rem ;
      }
    }
  }
}

/* MAIN */
main {
  figure.photo {
    float: left;
    width: 25% - $gutterdbl;
  }

  div.blog article {
    float: left;
    width: 33.3% - $gutterdbl;

    &:nth-child(2n+1) {
      clear: none;
    }

    &:nth-child(3n+1) {
      clear: left;
    }
  }

  section {
    max-width: 60rem;
    margin: 0 auto;
  }

}
